@model IEnumerable<MVCAssessment.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @foreach(var v in item.Posts)
                    {
                        @Html.DisplayFor(modelItem => v.Title)
                        <br />
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
